@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
body{
  height:100vh;
  background-color:#00000f;
}
*{
    text-align: center;
  margin:0;
  padding:0;
  text-decoration:none;
  scroll-behavior: smooth;
}
#container{
  height:8vh;
  display:flex;
  justify-content: space-around;
  align-items:center;
  background-color:#00000f;
}
.nome{
  font-family: 'Poppins', sans-serif;
  color:#00f;
}
.link{
    display: flex;
    margin:0rem 1.5rem;
    font-style:none;
    font-family: 'Poppins', sans-serif;
    color:#00f;
    transition: 0.5s;
}

.link:hover{
    color:#fff;
    transition: 0.5s;
}
.navBar{
  display:flex;
  justify-content: space-between;
}
#caixa {
    overflow: hidden;
    height: 92vh;
    background-color: #00000f;
}
.saudacao {
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(
      54deg,
      rgba(0, 0, 255, 1) 25%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 1) 50%,
      rgba(0, 0, 255, 1) 50%
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.apresentacao {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(
      50deg,
      rgba(0, 0, 255, 1) 25%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 1) 51%,
      rgba(0, 0, 255, 1) 51%
    );
    background-size: 50% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem;
}
.botaoModal {
    font-family: "Poppins", sans-serif;
    margin: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: 1s;
}
.botaoModal:hover {
    font-family: "Poppins", sans-serif;
    background-color: #00f;
    color: #fff;
    transition: 1s;
}
.circulo {
    position: absolute;
    top: 110%;
    left: -30%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(90deg, #00f, #55f);
    animation: gradient-animation 5s ease infinite;
    background-size: 400% 400%;
    transition-duration: 1s;
    height: 45rem;
    width: 45rem;
    border-radius: 50rem;
    z-index: 0;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



#Habilidades {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000f;
}
.habilidadesTitulo {
    color: #00f;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.explicacao {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.habilidadelist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.imagemHb {
    height: 50px;
    width: 50px;
}
.testo{
    font-size: .75rem;
    font-family: "Poppins", sans-serif;
    color: #0037f1;
}
.card {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(163deg, #5555ff 0%, #00f 100%);
    border-radius: 20px;
    transition: all 0.3s;
    margin: 2rem;
}
.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #1a1a1a;
    border-radius: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}
.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 255, 0.3);
}



#Projetos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 0rem;
    background-color: #00000f;
    margin: 5rem 0;
}
.projetosTitulo {
    padding: 1rem;
    font-size: 3rem;
    color: #00f;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.proejtosS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.projeto {
    height: 15rem;
    transition: 1s;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
#Wns{
    background-image: url('./fotosProjetos/wns.png');
    background-size: cover;
    z-index: 0;
}
#bank{
    background-image: url('./fotosProjetos/Bank.png');
    background-size: cover;
    z-index: 0;
}
#CarrosMRD{
    background-image: url('./fotosProjetos/carrosMaisRapidosDoMundo.png');
    background-size: cover;
    z-index: 0;
}
#Pcep{
    background-image: url('./fotosProjetos/Cep.png');
    background-size: cover;
    z-index: 0;
}
#Pcn{
    background-image: url('./fotosProjetos/ChuckNorris.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#Bop{
    background-image: url('./fotosProjetos/BornOP.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#Ploguin{
    background-image: url('./fotosProjetos/loguin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.filter{
    content: '';
    z-index: 1;
    backdrop-filter: blur(15px);
    height: 15rem;
    width:auto;
    transition: 1s;
}
.filter:hover{
    content: '';
    z-index: 1;
    backdrop-filter: blur(0);
    height: 15rem;
}
.nameProjeto{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(90deg,#00f, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.concluido{
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.iconesdoProjeto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
}
.iconsProjetos{
    height: 25px;
    width: 25px;
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    background-color: #002;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 255, 0.3);
}
@keyframes change-color {
    0% {
        background-color: blue;
    }
    100% {
        background-image: radial-gradient(
        circle at 50% -20.71%,
        #be5af5 0,
        #a04ff4 16.67%,
        #7944f3 33.33%,
        #3c3cf2 50%,
        #0037f1 66.67%,
        #0034ef 83.33%,
        #0034ee 100%
        );
    }
}

#modalAvatar{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    height: 20rem;
    background-color: #000;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 255, 0.3);
}
.ativo{
    display: block;
}
.fechar{
    display: none;
}
.meuAvatar{
    margin:1rem;
    height: 15rem;
    width: 15rem;
}
.sobreMim {
    color: #fff;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.tituloBotaofechar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tituloBotaofechar > h1{
    color:#00f;
    font-family: "Poppins", sans-serif;
}
.tituloBotaofechar > button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #00f;
    border-radius: 5rem;
    padding: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    transition: 1s;
}
.tituloBotaofechar > button:hover{
    color: #00f;
    background-color: #000;
}
.textoSobremim{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 1rem;
}


#contatos {
    padding: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00000f;
}
#listContatos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tituloContatos {
    color: #00f;
    font-size: 4rem;    
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.contato {
    background-color: #000022;
    padding: 1rem;
    margin: 3rem;
    border-radius: 4rem;
}
.iconsCotatos {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 1000px){
    .habilidadelist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        width: 75px;
        height: 75px;
    }
    .card2 {
        width: 75px;
        height: 75px;
    }
    .imagemHb{
        height: 25px;
        width: 25px;
    }
    .proejtosS {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 850px){
    .nome{
        text-align: start;
      }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .button-nav{
        position:fixed;
        width: 100%;
        top: 1%;
        left: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 2rem;
        width: 2rem;
        z-index: 3;
        border-radius: 2rem;
        padding: .25rem;
        transition: 1s;
        cursor: pointer;
    }
    .button-nav:hover{
        background-color: #ffffff;
        transform: rotate(360deg);
        transition: 2s;
    }
    .hamburguer{
        background-color: #00f;
        height: 2px;
        width: 2rem;
        border-radius: 1rem;
        transition: 1s;
    }
    .navBar{
        position:fixed;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000e;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
    }
    .fechado{
        display: none;
    }
    .aberto{
        display: flex;
    }
    .link{
        margin:0rem 1.5rem;
        font-style:none;
        font-family: 'Poppins', sans-serif;
        color:#00f;
        transition: 0.5s;
      }
    .menu{
        display: block;
        height: 5px;
        width: 2rem;
        background-color: #00f;
    }

    .abrir{
        display: flex;
    }
    .fechar-modal{
        height: 2px;
        width: 20px;
        background-color: #00f;
    }
    .circulo {
        position: absolute;
        top: 110%;
        left: -45%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(90deg, #00f, #55f);
        animation: gradient-animation 5s ease infinite;
        background-size: 400% 400%;
        transition-duration: 1s;
        height: 45rem;
        width: 45rem;
        border-radius: 50rem;
        z-index: 0;
    }
    .circulo{
        display: none;
    }
    #modalAvatar{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: 30rem;
        background-color: #000;
        border-radius: 1rem;
        box-shadow: 0px 0px 30px 1px rgba(0, 0, 255, 0.3);
    }
    .textoSobremim{
        display: flex;
        flex-direction: column;
    }
    .meuAvatar{
        height: 10rem;
        width: 10rem;
    }
    .sobreMim{
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 600px){
    
    #caixa {
        overflow: hidden;
        height: auto;
        background-color: #00000f;
        padding: 10rem 2rem;
    }
    #modalAvatar{
        width: 23rem;
        height: 30rem;
    }
    .sobreMim{
        font-size: 0.75rem;
    }
    .tituloBotaofechar{
        font-size: 0.75rem;
    }
    .apresentacao{
        font-size: 0.75rem;
    }
    .botaoModal{
        font-size: 0.75rem;
    }
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3rem;
    }
    .habilidadelist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .habilidadesTitulo{
        font-size: 1.5rem;
    }
    .explicacao{
        font-size: 1rem;
    }
    .card {
        width: 75px;
        height: 75px;
        background-image: linear-gradient(163deg, #5555ff 0%, #00f 100%);
        border-radius: 20px;
        transition: all 0.3s;
        margin: 1rem;
    }
    .card2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        background-color: #1a1a1a;
        border-radius: 1rem;
        transition: all 0.2s;
        cursor: pointer;
    }
    .imagemHb{
        height: 25px;
        width: 25px;
    }
    .proejtosS {
        display: grid;
        grid-template-columns: 1fr;
    }
    #listContatos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
@media screen and (max-width: 400px){
    .nome{
        font-size: 1rem;
    }
    #contatos{
        padding: 0;
    }
    .habilidadelist{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #contatos{
        padding: 1rem 0rem;
    }
    
}