@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
body{
  height:100vh;
  background-color:#00000f;
}
body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #00f;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 109); 
  }
*{
    text-align: center;
    margin:0;
    padding:0;
    text-decoration:none;
    scroll-behavior: smooth;
}
#container{
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-image: linear-gradient(180deg, #002 , #0000);
    z-index: 99;
}
.nome{
  font-family: 'Poppins', sans-serif;
  color:#00f;
}
.link{
    display: flex;
    margin:0rem 1.5rem;
    font-style:none;
    font-family: 'Poppins', sans-serif;
    color:#00f;
    transition: 0.5s;
}

.link:hover{
    color:#fff;
    transition: 0.5s;
}
.navBar{
  display:flex;
  justify-content: space-between;
}

.saudacao {
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(
      54deg,
      rgba(0, 0, 255, 1) 25%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 1) 50%,
      rgba(0, 0, 255, 1) 50%
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.apresentacao {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(
      50deg,
      rgba(0, 0, 255, 1) 25%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 1) 51%,
      rgba(0, 0, 255, 1) 51%
    );
    background-size: 50% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
#Home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.botaoModal {
    font-family: "Poppins", sans-serif;
    margin: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: 1s;
}
.botaoModal:hover {
    font-family: "Poppins", sans-serif;
    background-color: #00f;
    color: #fff;
    transition: 1s;
}

#modalAvatar{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    height: 20rem;
    background-color: #000;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 255, 0.3);
}
.ativo{
    display: block;
}
.fechar{
    display: none;
}
.meuAvatar{
    margin:1rem;
    height: 15rem;
    width: 15rem;
}
.sobreMim {
    color: #fff;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.tituloBotaofechar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: none;
}
.tituloBotaofechar > h1{
    color:#00f;
    font-family: "Poppins", sans-serif;
}
.tituloBotaofechar > button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #00f;
    border-radius: 5rem;
    padding: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    transition: 1s;
}
.tituloBotaofechar > button:hover{
    color: #00f;
    background-color: #000;
}
.textoSobremim{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 1rem;
}

#Habilidades {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000f;
}
.habilidadesTitulo {
    color: #00f;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.explicacao {
    color: #fff;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.habilidadelist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.imagemHb {
    height: 50px;
    width: 50px;
}
.testo{
    font-size: .75rem;
    font-family: "Poppins", sans-serif;
    color: #0037f1;
}
.card {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(163deg, #5555ff 0%, #00f 100%);
    border-radius: 20px;
    transition: all 0.3s;
    margin: 1rem 1.5rem;
}
.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #1a1a1a;
    border-radius: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}
.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 255, 0.3);
}



#Projetos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 0rem;
    background-color: #00000f;
    margin: 5rem 0;
}
.projetosTitulo {
    padding: 1rem;
    font-size: 2rem;
    color: #00f;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.projetosSubTitulo {
    width: 280px;
    padding: .5rem;
    margin: 3rem;
    font-size: 1.5rem;
    color: #00f;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-family: 'Poppins', sans-serif;
}
.proejtosS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.proejtosS2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.projeto {
    margin: 1rem;
    border-radius: 1rem;
    border-top-color: #0037ef;
    border-bottom-color: #0034ef;
    border-style: solid;
    height: 15rem;
    transition: 1s;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
#Wns{
    background-image: url('./fotosProjetos/wns.png');
    background-size: cover;
    z-index: 0;
}
#bank{
    background-image: url('./fotosProjetos/Bank.png');
    background-size: cover;
    z-index: 0;
}
#CarrosMRD{
    background-image: url('./fotosProjetos/carrosMaisRapidosDoMundo.png');
    background-size: cover;
    z-index: 0;
}
#Pcep{
    background-image: url('./fotosProjetos/Cep.png');
    background-size: cover;
    z-index: 0;
}
#Bop{
    background-image: url('./fotosProjetos/BornOP.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#calculadora{
    background-image: url('./fotosProjetos/Calculadora.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#relogio{
    background-image: url('./fotosProjetos/Relogio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#geradorDeSenha{
    background-image: url('./fotosProjetos/GeradorDeSenha.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#previewCard{
    background-image: url('./fotosProjetos/PreviewCard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#Gorjeta{
    background-image: url('./fotosProjetos/ProjetoGorjeta.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.filter{
    content: '';
    z-index: 1;
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    height: 15rem;
    width:auto;
    transition: 1s;
}
.filter:hover{
    content: '';
    z-index: 1;
    backdrop-filter: blur(0);
    border-radius: 1rem;
    height: 15rem;
}
.nameProjeto{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(90deg,#00f, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.concluido{
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.restrito{
    text-align: center;
    color: #f00;
    font-family: 'Raleway', sans-serif;
}
.iconesdoProjeto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
}
.iconsProjetos{
    height: 25px;
    width: 25px;
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    background-color: #002;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 255, 0.3);
}
@keyframes change-color {
    0% {
        background-color: blue;
    }
    100% {
        background-image: radial-gradient(
        circle at 50% -20.71%,
        #be5af5 0,
        #a04ff4 16.67%,
        #7944f3 33.33%,
        #3c3cf2 50%,
        #0037f1 66.67%,
        #0034ef 83.33%,
        #0034ee 100%
        );
    }
}


#idiomas{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.idiomaTitulo{
    padding: 1rem;
    font-size: 3rem;
    color: #00f;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.InfoIdiomas{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.IdiomaLista{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}
.ContainersIdiomas{
    padding: 1rem;
    margin: 0rem 1rem;
    height: 185px;
    width: 150px;
    background-color: #000022;
    border-radius: 1rem;
    border:2px solid #00f;
}
.idiomasTem{
    font-size: .8rem;
    list-style: none;
    color: #00f;
}
.idiomasNTen{
    font-size: .8rem;
    list-style: none;
    color: #00145b;
}
.nomeIdioma{
    color: #00f;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.idioma{
    height: 50px;
    width: 50px;
}
.nivelDoIdioma{
    font-size: .9rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.CaracteristicasIdio{
    color: #00f;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


#contatos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00000f;
}
#listContatos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tituloContatos {
    color: #00f;
    font-size: 4rem;    
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.contato {
    background-color: #000022;
    padding: 1rem;
    margin: 3rem;
    border-radius: 4rem;
}
.iconsCotatos {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 1000px){
    .habilidadelist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        width: 75px;
        height: 75px;
    }
    .card2 {
        width: 75px;
        height: 75px;
    }
    .imagemHb{
        height: 25px;
        width: 25px;
    }
    .proejtosS {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .IdiomaLista{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .ContainersIdiomas{
        margin: 1rem 1rem;
    }
}
@media screen and (max-width: 850px){
    .nome{
        text-align: center;
      }
    nav{
        display: flex;
    }
    .button-nav{
        position:fixed;
        width: 100%;
        top: 1%;
        left: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 2rem;
        width: 2rem;
        z-index: 3;
        border-radius: 2rem;
        padding: .25rem;
        transition: 1s;
        cursor: pointer;
        z-index: 99;
    }
    .button-nav:hover{
        transform: rotate(180deg);
        transition: 2s;
    }
    .hamburguer{
        background-color: #00f;
        height: 2px;
        width: 2rem;
        border-radius: 1rem;
        transition: 1s;
    }
    .navBar{
        position:fixed;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000e;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
    }
    .fechado{
        display: none;
    }
    .aberto{
        display: flex;
    }
    .link{
        margin:0rem 1.5rem;
        font-style:none;
        font-family: 'Poppins', sans-serif;
        color:#00f;
        transition: 0.5s;
      }
    .menu{
        display: block;
        height: 5px;
        width: 2rem;
        background-color: #00f;
    }

    .abrir{
        display: flex;
    }
    .fechar-modal{
        height: 2px;
        width: 20px;
        background-color: #00f;
    }
    #modalAvatar{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: 30rem;
        background-color: #000;
        border-radius: 1rem;
        box-shadow: 0px 0px 30px 1px rgba(0, 0, 255, 0.3);
    }
    .textoSobremim{
        display: flex;
        flex-direction: column;
    }
    .meuAvatar{
        height: 10rem;
        width: 10rem;
    }
    .sobreMim{
        font-size: 0.75rem;
    }
    .IdiomaLista{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        align-items: center;
    }
}
@media screen and (max-width: 670px){
    #modalAvatar{
        width: 18rem;
        height: 30rem;
    }
    .sobreMim {
        font-size: 0.65rem;
    }
    .card {
        width: 70px;
        height: 70px;
    }
    .card2 {
        width: 70px;
        height: 70px;
    }
    .imagemHb{
        height: 20px;
        width: 20px;
    }
    .projetosSubTitulo{
        font-size: 1rem;
    }
    .proejtosS{
        display: flex;
        flex-direction: column;
    }
    .projeto{
        background-position: center;
    }
    .IdiomaLista{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .ContainersIdiomas{
        align-items: center;
        height: 150px;
        width: 180px;
        padding: 0;
        margin: 1rem .25rem;
    }
    .nomeIdioma{
        padding: 0;
        margin: 0;
    }
    .idiomasTem{
        text-align: center;
        font-size: .7rem;
        list-style: none;
        color: #00f;
    }
    .idiomasNTen{
        text-align: center;
        font-size: .7rem;
        list-style: none;
        color: #00145b;
    }
    
    .CaracteristicasIdio{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    

}